<section class="featured">

<div class="container">

<div class="left">

<span class="tag">

{{project.subtitle}}

</span>

<h2>

{{project.title}}

</h2>

<p>

{{project.description}}

</p>

<div class="tech">

<span
*ngFor="let tech of project.technologies">

{{tech}}

</span>

</div>

<div class="buttons">

<a
[href]="project.github"
target="_blank">

GitHub

</a>

<a
[href]="project.liveDemo"
target="_blank"
class="primary">

Live Demo

</a>

</div>

</div>

<div class="right">

<img
[src]="project.image"
[alt]="project.title">

</div>

</div>

</section>