.loader{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:#050816;

color:white;

position:fixed;

left:0;

top:0;

width:100%;

z-index:99999;

}

.circle{

width:90px;

height:90px;

border:8px solid #1E293B;

border-top:8px solid #3B82F6;

border-radius:50%;

animation:spin 1s linear infinite;

margin-bottom:30px;

}

.loader h1{

font-size:42px;

margin-bottom:10px;

}

.loader p{

color:#94A3B8;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}