.journey{

padding:120px 8%;

background:#050816;

color:white;

}

.container{

max-width:1100px;

margin:auto;

}

.heading{

text-align:center;

margin-bottom:70px;

}

.heading p{

color:#3B82F6;

}

.heading h2{

font-size:48px;

margin-top:10px;

}

.timeline{

border-left:3px solid #3B82F6;

padding-left:35px;

}

.item{

position:relative;

margin-bottom:45px;

}

.dot{

position:absolute;

left:-47px;

top:8px;

width:18px;

height:18px;

border-radius:50%;

background:#3B82F6;

}

.content{

background:#111827;

padding:25px;

border-radius:15px;

}

.content span{

color:#22D3EE;

font-weight:bold;

}

.content h3{

margin:12px 0;

}

.content p{

color:#CBD5E1;

line-height:1.7;

}