nav {

    position: fixed;

    width: 100%;

    top: 0;

    left: 0;

    z-index: 999;

    transition: .3s;

    padding: 18px 0;

}

.scrolled {

    background: rgba(17, 25, 40, 0.75);

    backdrop-filter: blur(18px);

    box-shadow: 0 5px 20px rgba(0,0,0,.3);

}

.container{

    width:90%;

    max-width:1300px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    color:#3B82F6;

    font-size:30px;

    font-weight:700;

}

.desktop-menu{

    display:flex;

    list-style:none;

    gap:35px;

}

.desktop-menu a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

.desktop-menu a:hover{

    color:#3B82F6;

}

.menu-btn{

    display:none;

    font-size:28px;

    background:none;

    border:none;

    color:white;

    cursor:pointer;

}

.mobile-menu{

    display:flex;

    flex-direction:column;

    background:#111827;

}

.mobile-menu a{

    padding:15px;

    text-decoration:none;

    color:white;

}

.mobile-menu a:hover{

    background:#3B82F6;

}

@media(max-width:768px){

.desktop-menu{

display:none;

}

.menu-btn{

display:block;

}

}