.theme-btn{

position:fixed;

top:90px;

right:25px;

width:55px;

height:55px;

border-radius:50%;

border:none;

cursor:pointer;

font-size:24px;

background:#3B82F6;

color:white;

box-shadow:0 10px 25px rgba(0,0,0,.3);

z-index:999;

transition:.3s;

}

.theme-btn:hover{

transform:rotate(180deg) scale(1.08);

}