.theme-btn{

position:fixed;

top:100px;

right:25px;

width:60px;

height:60px;

border:none;

border-radius:50%;

cursor:pointer;

font-size:26px;

background:var(--primary);

color:white;

box-shadow:0 10px 30px rgba(0,0,0,.3);

transition:.35s ease;

z-index:999;

}

.theme-btn:hover{

transform:scale(1.1) rotate(180deg);

box-shadow:0 0 20px var(--primary);

}